<div class="container">
    <div class="card">
      <h5 class="card-header">Reset your password</h5>
      <div class="card-body">
        
        <form #individualInforForm="ngForm" (ngSubmit)="submit()" action="#">
          <div class="form-body">
              <div class="card-body">
                <div class="row">
                  <div class="form-group">
                    <label class="control-label">User name</label>
                    <input [(ngModel)]="model.userName" type="text" id="userName" name="userName" class="form-control" placeholder="">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="control-label">Password</label>
                    <input [(ngModel)]="model.password" type="text" id="password" name="password" class="form-control" placeholder="">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group">
                    <label class="control-label">Confirm password</label>
                    <input [(ngModel)]="model.confirmPassword" type="text" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="">
                  </div>
                </div>

                <div class="row" *ngIf="model.password!=model.confirmPassword" style="color:red">
                  * Please make sure you typed the same password
                </div>

                <div class="row">
                  <button type="submit" class="btn btn-primary" [disabled]="model.password!=model.confirmPassword">Submit</button>
                  <button type="button" routerLink="/" class="btn btn-primary offset-md-1">Back to homepage</button>
                </div>
              </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  