<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="26(p3). Number of business activities"></app-subtitle>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Number of business activities
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

</div>

<button type="button" (click)="showModel()">show model</button>
<br>
<hr>
<br>