<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="30 (p7). Goods Or Services By Internet"></app-subtitle>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Insurance
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Interest on loans
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Land tax
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Legal fees
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Pest control
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Property agent fees/commission
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Repairs and maintenance
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Capital works deductions (special building write off)
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Stationery, telephone, and postage
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Travel expenses
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Water charges
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Sundry rental expenses
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Net rent
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-5">
        <h5>
          Net rent profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <app-etfile-upload btnName="your file" fileType="goodsOrServiceByInternet" [downloadList]="goodsOrServiceList"></app-etfile-upload>

</div>

<button type="button" (click)="showModel()">show model</button>
<br>
<hr>
<br>