<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="D1. Work-related Car Expenses"></app-subtitle>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Do you use your motor vehicle for work-related travel (excludes travel to and from work unless carrying heavy tools)?
      </h5>
    </div>
    <div class="col-md-5">
      <div class="form-group">
              <div class="custom-control custom-radio">
                  <input type="radio" value="Yes" id="radio1" name="radio1" class="custom-control-input">
                  <label class="custom-control-label" for="radio1">Yes</label>
               </div>
               <div class="custom-control custom-radio">
                  <input type="radio" value="No" id="radio2" name="radio1" class="custom-control-input">
                  <label class="custom-control-label" for="radio2">No</label>
              </div>
      </div>
    </div>
      <!--/span-->                          
      <!--/span-->
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        In a few words, why do you use your car for work?
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Number of kilometres travelled for work
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Is the vehicle registered in your name (do you own the vehicle)?
      </h5>
    </div>
    <div class="col-md-5">
      <div class="form-group">
              <div class="custom-control custom-radio">
                  <input type="radio" value="Yes" id="radio3" name="radio3" class="custom-control-input">
                  <label class="custom-control-label" for="radio3">Yes</label>
               </div>
               <div class="custom-control custom-radio">
                  <input type="radio" value="No" id="radio4" name="radio3" class="custom-control-input">
                  <label class="custom-control-label" for="radio4">No</label>
              </div>
      </div>
    </div>
      <!--/span-->                          
      <!--/span-->
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Did you record all your trips in a car logbook for 12 continuous weeks (1 time during the past 5 years)?
      </h5>
    </div>
    <div class="col-md-5">
      <div class="form-group">
              <div class="custom-control custom-radio">
                  <input type="radio" value="Yes" id="radio5" name="radio5" class="custom-control-input">
                  <label class="custom-control-label" for="radio5">Yes</label>
               </div>
               <div class="custom-control custom-radio">
                  <input type="radio" value="No" id="radio6" name="radio5" class="custom-control-input">
                  <label class="custom-control-label" for="radio6">No</label>
              </div>
      </div>
    </div>
      <!--/span-->                          
      <!--/span-->
  </div>
  <br>

  <div class="row">
    <h3>
      Parking & Tolls <app-myModal myModalText="modalText1"></app-myModal>
    </h3>
  </div>

  <p>
    Only claim parking or tolls for trips that are specifically work related. This excludes travel to and from work unless carrying heavy tools.
  </p>

  <p>
    You must have receipts or a proper log if you claim these items
  </p>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Total cost of parking
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Total cost of tolls
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <h5>
        Do you have receipts or a log for all parking and tolls claimed?
      </h5>
    </div>
    <div class="col-md-5">
      <div class="form-group">
              <div class="custom-control custom-radio">
                  <input type="radio" value="Yes" id="radio7" name="radio7" class="custom-control-input">
                  <label class="custom-control-label" for="radio7">Yes</label>
               </div>
               <div class="custom-control custom-radio">
                  <input type="radio" value="No" id="radio8" name="radio7" class="custom-control-input">
                  <label class="custom-control-label" for="radio8">No</label>
              </div>
      </div>
    </div>
      <!--/span-->                          
      <!--/span-->
  </div>


</div>

<br>
<hr>
<br>