<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="21. Bonuses from life insurance companies and friendly societies"></app-subtitle>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Bonuses from life insurance companies and friendly societies
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="bonusFromLifeInsuranceCompaniesAndFriendlySocieties" [(ngModel)]="retrievedSelfData.bonusFromLifeInsuranceCompaniesAndFriendlySocieties" class="edgeControl form-control">
      </div>
    </div>

</div>

<button type="button" (click)="showModel()">show model</button>
<br>
<hr>
<br>