<router-outlet>
    <!-- <app-spinner></app-spinner> -->
</router-outlet>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-circus"
fullScreen = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<!-- <div class="component demo">

    <div id="modal-demo" class="modal fade show">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>hello ~</p>
          </div>
          <div class="modal-fotter">
            <button class="btn btn-secondary">cancel</button>
            <button class="btn btn-primary">confirm</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <button class="btn btn-danger" data-toggle="modal"
      data-target="#modal-demo">delete</button> -->