<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="20. Rent"></app-subtitle>
  </div>

  <div class="row">
    <p>
      Complete this section if you earned income from a rental property, or it was available to rent during the year. If you own
      more than one property, please enter each one in a separate worksheet.
    </p>
    <p>
      Please only enter your share of the income and expenses below. If your ownership is 50%, then please enter 50% of the total
      income and expenses related to this property.
    </p>
  </div>

  <div class="row align-items-center">
    <div class="col-md-4">
      <h5>
        Gross rent
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
 </div>

  <div class="row align-items-center">
    <div class="col-md-4">
      <h5>
        Interest deductions
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-4">
      <h5>
        Capital works deductions
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>


  <div class="row align-items-center">
    <div class="col-md-4">
      <h5>
        Other rental deductions
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <br>
  <div class="rowWrapper" *ngFor="let index of expandArg">
    <div class="row">
      <label style="color: blue">Rental Schedule WOrksheet</label>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Your percentage ownership of the property
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row">
      <b>
        Please only enter your share of the Income and expenses below.
      </b>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Address of Rental Propery - Street name and number
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Address of Rental Property - Suburb/Town
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Address of Rental Property - State
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Address of Rental Property - Postcode
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Date property first earned rental income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="date" name="" class="edgeControl form-control" placeholder="mm/dd/yyyy">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Number of weeks property was rented this year
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Rental income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other rental related income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Advertising for tenants
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Body corporate fees
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Borrowing expenses
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Cleaning
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Council rates
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Capital allowances (depreciation on plant)
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Gardening/lawn mowing
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
    </div>
    <br>

  </div>

  <div class="row" style="margin: 1em 1em">
    <button (click)="addNewLines()" class="btn btn-primary btn-rounded">Add new lines</button>
    <button (click)="removeOneLine()" class="btn btn-secondary btn-rounded offset-md-1">Remove one line</button>
  </div>

</div>

<br>
<hr>
<br>