<div class="container-fluid">

  <div class="row">
    <app-subtitle mySubTitle="12. Partnerships And Trusts"></app-subtitle>
  </div>

  <div class="row">
    <div class="col-md-4">
        <h5>
          Distribution from partnerships
        </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>
        Distribution from partnerships profit/loss
      </h5>
    </div>
    <div class="col-md-5">
      <select class="custom-select edgeControl">
        <option *ngFor="let type of typeList1" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
         <h5>
           Distribution from trusts
         </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>
        Distribution from trusts profit/loss
      </h5>
    </div>
    <div class="col-md-5">
      <select class="custom-select edgeControl">
        <option *ngFor="let type of typeList2" [value]="type">{{type}}</option>
      </select>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Distribution from trusts action code
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of trustsActionCode" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Landcare operations and deduction for decline in value of water facility. fencing asset and fodder storage asset
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Other deductions relation to distribution
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Other deductions relating to distribution type
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of deductionsDistributionType1" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-pp - Distribution from partnerships relating to financial investments, less foreign income
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Profit/Loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList3" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP share of net rental property income or loss from partnerships
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Profit/Loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList4" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Other distributions from partnerships
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Profit/Loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList5" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Distribution from partnerships less foreign income
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Distribution from partnerships, less foreign income Profit/Loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList6" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP -Share of net income from trusts less capital gaint, foreign income and franked distributions - Managed investment scheme income
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList7" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP Share of net income from trusts less capital gains, foreign income and franked distributions - other income
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList8" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Distribution from trusts less net capital gains and foreign income
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Distribution from trusts, less net capital gains and foreign income profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList9" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Distribution from trusts, less net capital gains and foreign income action code
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of distributionFromTrustLess" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Franked distributions from trusts relating to investments
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Franked distributions from trusts - other
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP -Franked distributions from trusts
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Landcare operations expenses
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Managed investment scheme deductions relating to amounts shown at U and C
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Partnership deductions relating to financial investment amounts shown at O
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Non-PP - Other deductions relating to distributions shown at O, U and C
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Other deductions relating to distribution
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Other deductions relating to distribution type
           </h5>
      </div>
      <div class="col-md-5">
          <select class="custom-select edgeControl">
            <option *ngFor="let type of deductionsDistributionType2" [value]="type">{{type}}</option>
          </select>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Partnership share of net small business income less deductions attributable to that share
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Trust share of net small business income less deductions attributable to that share
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Share of credit for tax withheld where Australian business number not quoted
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             share of franking credit from franked dividends
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             share of credit for TFN amounts withheld from interest, dividends and unit trust distributions
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             credit for TFN amounts withheld from payments from closely held trusts
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             Share of credit for tax paid by trustee
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             share of credit for foreign resident withholding amounts (excluding capital gains)
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
           <h5>
             share of National rental affordability scheme tax offset
           </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl">
      </div>
  </div>



</div>

<br>
<hr>
<br>