<div class="container-fluid">

  <div class="row">
    <app-subtitle mySubTitle="15. Deferred Non-commercial Business Losses"></app-subtitle>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>
        Your share of deferred losses from partnership activities - from carrying on a business of investing
      </h5>
    </div>
    <div class="col-md-5">
      <input type="text" name="" class="edgeControl form-control">
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Your share of deferred losses from partnership activities - from carrying on a rental propety business
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Your share of deferred losses from partnership activities - other
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Your share of deferred losses from partnership activities
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Your share of deferred losses from sole trader activities - from carrying on a business of investing
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Your share of deferred losses from sole trader activities - other
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Deferred losses from sole trader activities
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Primary production deferred losses
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <h5>
          Non-primary production deferred losses
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

</div>

<br>
<hr>
<br>
