<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="27(p4). Status of your business"></app-subtitle>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Status of business code
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="code" [(ngModel)]="retrievedSelfData.code" class="edgeControl form-control">
      </div>
  </div>

</div>

<button type="button" (click)="showModel()">show model</button>
<br>
<hr>
<br>