<div class="container-fluid">
  <div class="row">
    <app-subtitle mySubTitle="19. Foreign source income (including foreign source pension or annuity) and foreign assets or property"></app-subtitle>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Assessable foreign source income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign employment income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign employment income profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList1" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign pension or annuity income without an undeducted purchase price
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign pension or annuity income without an undeducted purchase price profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList2" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign pension or annuity income WITHOUT an undeducted purchase price
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign pensions or annuity income WITH an undeducted purchase price profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList3" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign rent
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign rent profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList4" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign source income - dividend income or managed investment scheme income from foreign companies - including from foreign partnerships
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList5" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign source income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList6" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign source income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Other net foreign source income profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList7" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <hr>
  <div class="row">
    <label>
      Also include at label F Australian franking credits from a New Zealand company that you have received indirectly
      through a partnership ortrust distribution
    </label>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Australian franking credits from a New Zealand franking company
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign employment income - payment summary
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Net foreign employment income - payment summary profit/loss
        </h5>
      </div>
      <div class="col-md-5">
        <select class="custom-select edgeControl">
          <option *ngFor="let type of typeList8" [value]="type">{{type}}</option>
        </select>
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Exempt froeign employment income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Foreign income tax offset
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          During the year did you own, or have an interest in, assets located outside Australia which had a total value of AUD $50,000 or more?
        </h5>
      </div>
      <div class="col-md-5">
        <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" value="Yes" id="radio11" name="elevenRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radio11">Yes</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" value="No" id="radio12" name="elevenRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radio12">No</label>
                </div>
        </div>
      </div>
        <!--/span-->                          
        <!--/span-->
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Non-resident foreign income
        </h5>
      </div>
      <div class="col-md-5">
        <input type="text" name="" class="edgeControl form-control">
      </div>
  </div>

  <div class="row align-items-center">
      <div class="col-md-4">
        <h5>
          Do you need to use a worksheet
        </h5>
      </div>
      <div class="col-md-5">
        <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" value="Yes" id="radio13" name="thirteenRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radio13">Yes</label>
                 </div>
                 <div class="custom-control custom-radio">
                    <input type="radio" value="No" id="radio14" name="thirteenRadio" class="custom-control-input">
                    <label class="custom-control-label" for="radio14">No</label>
                </div>
        </div>
      </div>
        <!--/span-->                          
        <!--/span-->
  </div>  

</div>

<br>
<hr>
<br>